<ion-app>
  <ion-content>
    <!--hello name="{{ name }}"></hello>
    <p>Start editing to see some magic happen :)</p>


    <ion-button>GREAT IONIC BUTnTON</ion-button!-->

    <ion-header>
      <div class="toolbar">
        <ion-title id="c"><span>BROW</span><span>NU</span></ion-title>
        <ion-buttons slot="start">
          <ion-button id="c">CARRINHO</ion-button>
        </ion-buttons>
      </div>
    </ion-header>

    <ion-img
      src="https://img.freepik.com/fotos-premium/sobremesa-de-brownie-de-chocolate-com-amendoas-dentro-po-festivo-sobre-um-fundo-rosa_121104-728.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>

    <ion-list class="navigation">
      <ion-item id="c">
        <ion-label id="cc">Cupons</ion-label>
      </ion-item>
      <ion-item id="SS">
        <ion-label>Cardápio</ion-label>
      </ion-item>
      <ion-item>
        <ion-label id="cc">Contatos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
